ADF/pipeline/FirstLoad_WholesalesDW.json
{
	"name": "FirstLoad_WholesalesDW",
	"properties": {
		"activities": [
			{
				"name": "Retrieve Metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT\r\n     b.[ObjectName]\r\n    ,FolderName = b.[ObjectValue]\r\n    ,SQLTable   = s.[ObjectValue]\r\n    ,Delimiter  = d.[ObjectValue]\r\nFROM [dbo].[Metadata_ADF] b\r\nJOIN [dbo].[Metadata_ADF] s ON b.[ObjectName] = s.[ObjectName]\r\nJOIN [dbo].[Metadata_ADF] d ON b.[ObjectName] = d.[ObjectName]\r\nWHERE   b.[SourceType] = 'input-source'\r\n    AND s.[SourceType] = 'SQLTable'\r\n    AND d.[SourceType] = 'Delimiter';",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sql_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "_netSet"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Loop over Metadata",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Retrieve Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Retrieve Metadata').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Blob to SQL",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFileName": "*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "csv_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": "@{item().FolderName}",
										"Delimiter": "@{item().Delimiter}"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "sql_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@{item().SQLTable}",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}